.card{
    background-color: aqua;
    width: 280px;
    height: auto;
    border-radius: 8px;
    padding:10px;
}

.card__header{
    display: flex;
    width: 100%;
    justify-content: space-between;
    
}

.card__body{
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    row-gap: 8px;
}
.card__footer{

    margin-top: 15px;
    display: flex;
    flex-direction: column;
    row-gap: 8px;
}
.footer__total{
    display: flex;
    justify-content: space-between;
}