.descriptionWeb {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  text-align: center;
  font-size: 16px;
}

.descriptionWeb h2 {
  font-size: 26px;
}

.descriptionWeb h2 > span {
  color: var(--clr-orange);
}

.descriptionWeb picture > img {
  width: 100%;
  border-radius: 8px;
}

.descriptionWeb p {
  opacity: 0.6;
  font-size: 15px;
  line-height: 1.7;
  margin-bottom: 80px;
  margin-top: 20px;
}
