@media only screen and (min-width:1024px) {
   
   .categoryBar{
    width: 75%;
    margin: 0 auto;
   }
   
   @keyframes aparicion {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
   }
    .headerHome {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: start;
        padding: 0;
        padding-right: 50%;
        background-size: contain;
        min-height: 600px;
        animation: aparicion 1s 1 ease-in-out;
      
    }
    .headerHome p{
        padding: 0;
        width: 70%;
    }
}