.card__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.card__item img {
    width: 55px;
    height: 55px;
    border-radius: 8px;
}

.card__itemDetails {
    display: flex;
    flex-direction: column;


}

.name {
    font-weight: 700;
}

.price {
    font-size: 14px;
    font-weight: 700;
    color: hsl(0deg 0% 45.88%);
    margin-right: 18px;
}

