.product{
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 12px;
}
.product>figure{
    width: 100%;
}
.product img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}
.product__name{
    font-size: 28px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}
.product__description{
    font-weight: 400;
    text-align: center;
    line-height: 25px;
    opacity: 0.8;
    font-size: 15px;
    /* color: hsla(0,0%,6%,.955); */
}
.newProduct{
    color: var(--clr-orange);
    text-transform: uppercase;letter-spacing: 10px;
    font-size: 14px;
}