@media only screen and (min-width:1024px) {

    .form {
        display: flex;
        justify-content: center;
        align-items: start;
        column-gap: 20px;

    }

    .form>:nth-child(1) {
        width: 65%;
       
    }

    .form>:nth-child(2) {
        flex-grow: 1;
    }


}