.detailsProduct {
    width: 85%;
    margin: 0 auto;
    margin-top: 20px;
}

.detailsProduct>strong {
    margin: 40px 0px;
    display: inline-block;
    font-size: 20px;
}

.subtitle {
    font-size: 25px;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 20px;
    display: inline-block;
}

.detailsProduct>p {
    font-size: 15px;
    opacity: 0.9;
    line-height: 25px;
}

.buttonContainer {
    display: flex;
    justify-content: space-between;
    margin-bottom: 90px;
}
.box__details{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 5px;
}
.box__details span:nth-child(1) {
    color: var(--clr-orange);
}