:root {

  --clr-orange: hsl(22, 65%, 57%);
  --clr-almost-black: hsla(0, 0%, 6%, 0.955);
  --clr-light-gray: hsl(0, 0%, 95%);
  --clr-very-light-gray: hsl(0, 0%, 98%);
  --clr-peach: hsl(21, 94%, 75%);
  --clr-black: hsl(0, 0%, 0%);
  --clr-white: hsl(0, 0%, 100%);
}



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Manrope', sans-serif;
}
*, :after, :before {
  box-sizing: border-box;
}
body {
  height: 100vh;
}

.orangeButton {
  text-decoration: none;
  background-color: var(--clr-orange);
  color: white;
  height: 50px;
  width: 160px;
  text-transform: uppercase;
  font-size: 14px;
  text-align: center;
  border-style: none;
  cursor: pointer;
}

.error {
  color: red;
  display: inline;
  text-transform: capitalize;
}

.NoVisible {
  display: none;
}
img{
  max-width: 100%;
  height: auto;
}

